@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noticia+Text:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";


h1 {
    color: rgb(62, 62, 62);
    font-size: 2.5rem;
    font-weight: bold;
    font-family: "Mr Dafoe", cursive;
}

h2 {
    font-size: 1.75rem;
    font-weight: bold;
}

h3 {
    font-size: 1.5rem;
    font-weight: bold;
}

i {
    font-size: 1rem;
}
