@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noticia+Text:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";


h1 {
    color: rgb(62, 62, 62);
    font-size: 2rem;
    font-weight: bold;
}

h2 {
    font-size: 1.75rem;
    font-weight: bold;
}

h3 {
    font-size: 1.5rem;
    font-weight: bold;
}

i {
    font-size: 1rem;
}
.eckoofthefox {

    font-family: "Mr Dafoe", cursive;
    font-size: 3rem;
    color: rgb(39, 39, 39);
    display: flex;
    justify-content: center;
    margin-top: 0.25rem;
    border-bottom: 1px solid rgb(39, 39, 39);
    margin-bottom: 0;
}

p {
    text-indent: 2rem;
}
p::first-letter {
    font-weight: 600;
    font-size: 2rem;
}

.eofsubline {
    color: rgb(39, 39, 39);
    font-family: "Mr Dafoe", cursive;
    font-size: 1.5rem;
    font-weight:100;
    color: rgb(62, 62, 62);
    display: flex;
    justify-content: center;
    margin-top: -0.125rem;
}

.title-logo {
    margin-top: 1rem;
    height: 5rem;
}

.title-logo:hover {
    height: 4.95rem;
}

.author {
    font-size: 1.25rem;
    font-weight: bold;
    margin-left: auto;
    display: flex;
    justify-content: end;
}   

.minor-article {
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    scroll-behavior: smooth;
    width: 200%;
    transition: 1s;
}

.minor-article h2 {
    align-content: center;
    width: 50%;
    transition: width 800ms, visibility 500ms;
}

.minor-article div {
    align-content: center;
    width: 50%;
    visibility: hidden;
    transition: visibility 1s;
}

.minor-article:hover {
    h2 {
        width: 0%;
        visibility: hidden;
    }

    div {
        visibility: visible;
    }
}

